table	{
	margin: 100px;
	width: 50%
	height: 50%;
}

td {
	width: 50px;
	height: 50px;
	padding: 10px;
}


.bottom {
	border-bottom: solid; 
}

.right {
	border-right: solid;
}
.bottomright {
	border-bottom: solid; 
	border-right: solid;
}